<form method="POST" action="add">
    <label for="name"> NEW USER - Full name : </label>
    <input name="fullName" type="text" id="name"/>    
    <label for="email">E-mail: </label>
    <input name="email" type="email" id="email">
    <input type="submit" value="Add">
</form>