<div>
    <span class="button">Delete</span>
    <form style="display: none; border: solid black;" method="POST" action="delete">
        <input type="hidden" name="id" value="<%= id %>" />
        <p>Are you sure?</p>
        <input type="submit" value="Delete">
    </form>
</div>