<div>
    <span class="button">Update</span>
    <form style="display: none; border: solid black;" method="POST" action="update">
        <input type="hidden" name="id" value="<%= id %>" />
        <label> New full name
            <input type="text" name="fullName">
        </label>
        <input type="submit" value="Update">
    </form>
</div>